*.pyc
.DS_Store

.idea
bower_components
node_modules
vendor
venv

visorxml/visorxml.log
visorxml/media/*
visorxml/static/css
visorxml/static/js
visorxml/static/fonts
visorxml/static/img/clear.png
visorxml/static/img/loading.gif
visorxml/serve-static/*
visorxml/served-static/*
visorxml/*.pdf
*.mo
