{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load generadorxml %}
{% load formset_tags %}

{% block title %}{% trans "Visor de informes" %}{% endblock %}

{% block content %}
{% get_uso %} {#  es_vivienda <= [True o False] #}
{% get_alcance %} {#  es_nuevo <= [True o False] #}

<div class="page">
  <div class="well bg-info hidden-print" style="margin-top:5px; margin-bottom:5px">
    {% static "docs/Informe_evaluacion_energ_XMLreducido.pdf" as xmlmini_spec_url %}
    {% blocktrans %}
    <p>La generación manual del Certificado Energético en formato XML reducido, o PDF+XML reducido, está prevista únicamente para el caso particular de edificios de nueva construcción en los que la certificación de eficiencia energética del proyecto se haya realizado con procedimientos antiguos y de acuerdo con las instrucciones del organismo competente del registro de certificados energéticos de cada CCAA (<a href="http://www.minetur.gob.es/energia/desarrollo/EficienciaEnergetica/CertificacionEnergetica/DocumentosReconocidos/Documents/2016-08-04_NOTA%20INFORMATIVA.pdf">nota informativa</a>).</p>
    <p>Para obtener el archivo xml reducido será necesario pulsar el icono que aparecerá en la parte superior derecha de la pantalla conforme se vayan rellenando datos.</p>
    <p>El archivo XML reducido generado manualmente tiene una estructura diferente a la del Certificado Energético en formato XML por lo que no superará la validación del Visor CTE_XML.</p>
    <p>Las especificaciones del Informe de evaluación energética en formato XML reducido se describen en <a href="{{ xmlmini_spec_url }}">este documento</a></p>
    {% endblocktrans %}
    <br>
    <br>
    <a class="btn btn-info" href="{% url 'clean-report' %}">Limpiar formulario</a>
  </div>

  <div class="informe" id="informe">
    <h2 class="text-center">{% trans "CERTIFICADO DE EFICIENCIA ENERGÉTICA DE EDIFICIOS" %}</h2>

    <div class="section">
      <h4>{% trans "IDENTIFICACIÓN DEL EDIFICIO O DE LA PARTE QUE SE CERTIFICA:" %}</h4>

      <table class="top">
        <tr>
          <td class="title" width="30%">{% trans "Nombre del Edificio" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="IdentificacionEdificio.NombreDelEdificio">
              {{ report.data.IdentificacionEdificio.NombreDelEdificio }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Dirección" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="IdentificacionEdificio.Direccion">
              {{ report.data.IdentificacionEdificio.Direccion }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Municipio" %}</td>
          <td>
            <a href="#" class="editable" id="IdentificacionEdificio.Municipio">
              {{ report.data.IdentificacionEdificio.Municipio }}
            </a>
          </td>
          <td class="title" width="15%">{% trans "Código Postal" %}</td>
          <td>
            <a href="#" class="editable"  data-type="number"  data-step="any" id="IdentificacionEdificio.CodigoPostal">
              {{ report.data.IdentificacionEdificio.CodigoPostal }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Provincia" %}</td>
          <td>
            <a href="#" class="editable" id="IdentificacionEdificio.Provincia">
              {{ report.data.IdentificacionEdificio.Provincia }}
            </a>
          </td>
          <td class="title" width="15%">{% trans "Comunidad Autónoma" %}</td>
          <td>
            <a href="#" class="editable" id="IdentificacionEdificio.ComunidadAutonoma">
              {{ report.data.IdentificacionEdificio.ComunidadAutonoma }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Zona climática" %}</td>
          <td>
            <a href="#" data-type="select" class="editable-clima" id="IdentificacionEdificio.ZonaClimatica">
              {{ report.data.IdentificacionEdificio.ZonaClimatica }}
            </a>
          </td>
          <td class="title" width="15%">{% trans "Año construcción" %}</td>
          <td>
            <a href="#" class="editable" id="IdentificacionEdificio.AnoConstruccion">
              {{ report.data.IdentificacionEdificio.AnoConstruccion }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Normativa vigente (construcción / rehabilitación)" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="IdentificacionEdificio.NormativaVigente">
              {{ report.data.IdentificacionEdificio.NormativaVigente }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Referencia/s catastral/es" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="IdentificacionEdificio.ReferenciaCatastral">
              {{ report.data.IdentificacionEdificio.ReferenciaCatastral }}
            </a>
          </td>
        </tr>
      </table>

      <br />

      <table class="top">
        <tr>
          <td class="title" width="30%">{% trans "Superficie habitable" %} [{% trans "m<sup>2</sup>" %}]</td>
          <td colspan="3">
            <a href="#" class="editable3" data-type="number" data-step="any" id="DatosGeneralesyGeometria.SuperficieHabitable">
              {{ report.data.DatosGeneralesyGeometria.SuperficieHabitable|asnum  }}
            </a>
          </td>
        </tr>
      </table>

      <br />

      {% if not pdf %}
      <table>
        <tr>
          <td class="title">{% trans "Alcance" %}</td>
          <td >
            <a href="#" class="editable-alcance" id="IdentificacionEdificio.AlcanceInformacionXML" data-type="select">
            </a>

          </td>
          <td class="title">{% trans "Tipo de edificio o parte del edificio certificado" %}</td>
          <td >
            <a href="#" class="editable-tipo" id="IdentificacionEdificio.TipoDeEdificio" data-type="select">
            </a>

          </td>
        </tr>
      </table>
      <br />
      {% else %}
      <table>
        <tr><td class="title" colspan="2">{% trans "Tipo de edificio o parte del edificio que se certifica:" %}</td></tr>
        <tr>
          <td width="50%">
            <span style="margin-left:20px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if not es_nuevo %}empty{% else %}remove{% endif %}" aria-hidden="true"></span>
            {% trans "Edificio de nueva construcción" %}
          </td>
          <td><span style="margin-left:20px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_nuevo %}empty{% else %}remove{% endif %}" aria-hidden="true"></span>
            {% trans "Edificio existente" %}</td>
        </tr>
        <tr><td class="title" colspan="2">&nbsp;</td></tr>
        <tr>
          <td>
            <span style="margin-left:20px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_vivienda %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Vivienda" %}<br />
            <span style="margin-left:40px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_vivienda and not es_bloque %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Unifamiliar" %}<br />
            <span style="margin-left:40px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_bloque %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Bloque" %}<br />
            <span style="margin-left:60px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_bloque  and es_bloque_cpl %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Bloque Completo" %}<br />
            <span style="margin-left:60px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_bloque and not es_bloque_cpl %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Vivienda individual" %}
          </td>
          <td>
            <span style="margin-left:20px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if not es_vivienda %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Terciario" %}<br />
            <span style="margin-left:40px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if not es_vivienda and not es_local %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Edificio completo" %}<br />
            <span style="margin-left:40px" />

            <span class="glyphicon glyphicon-bordered glyphicon-{% if es_local %}remove{% else %}empty{% endif %}" aria-hidden="true"></span>
            {% trans "Local" %}
          </td>
        </tr>
      </table>
      {% endif %}

    </div>

    <div class="section">
      <h4>{% trans "DATOS DEL TÉCNICO CERTIFICADOR:" %}</h4>

      <table class="top">
        <tr>
          <td class="title" width="30%">{% trans "Nombre y Apellidos" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.NombreyApellidos">
              {{ report.data.DatosDelCertificador.NombreyApellidos }}
            </a>
          </td>
          <td class="title" width="17%">{% trans "NIF/NIE" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.NIF">
              {{ report.data.DatosDelCertificador.NIF }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Razón Social" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.RazonSocial">
              {{ report.data.DatosDelCertificador.RazonSocial }}
            </a>
          </td>
          <td class="title">{% trans "NIF" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.NIFEntidad">
              {{ report.data.DatosDelCertificador.NIFEntidad }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Domicilio" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="DatosDelCertificador.Domicilio">
              {{ report.data.DatosDelCertificador.Domicilio }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Municipio" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.Municipio">
              {{ report.data.DatosDelCertificador.Municipio }}
            </a>
          </td>
          <td class="title">{% trans "Código Postal" %}</td>
          <td>
            <a href="#" class="editable" data-type="number"  id="DatosDelCertificador.CodigoPostal">
              {{ report.data.DatosDelCertificador.CodigoPostal }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Provincia" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.Provincia">
              {{ report.data.DatosDelCertificador.Provincia }}
            </a>
          </td>
          <td class="title">{% trans "Comunidad Autónoma" %}</td>
          <td>
            <a href="#" class="editable" id="DatosDelCertificador.ComunidadAutonoma">
              {{ report.data.DatosDelCertificador.ComunidadAutonoma }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "e-mail" %}</td>
          <td>
            <a href="#" class="editable"  id="DatosDelCertificador.Email">
              {{ report.data.DatosDelCertificador.Email }}
            </a>
          </td>
          <td class="title">{% trans "Teléfono" %}</td>
          <td>
            <a href="#" class="editable" data-type="number" id="DatosDelCertificador.Telefono">
              {{ report.data.DatosDelCertificador.Telefono }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title">{% trans "Titulación habilitante según normativa vigente" %}</td>
          <td colspan="3">
            <a href="#" class="editable" id="DatosDelCertificador.Titulacion">
              {{ report.data.DatosDelCertificador.Titulacion }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="title" colspan="2">{% trans "Procedimiento reconocido de calificación energética utilizado y versión:" %}</td>
          <td colspan="2" class="procedimiento">
            <a href="#" class="editable" id="IdentificacionEdificio.Procedimiento">
              {{ report.data.IdentificacionEdificio.Procedimiento }}
            </a>
          </td>
        </tr>
      </table>
    </div>
    <br />

    {% if pdf %}
    <div class="section">
      <h4>{% trans "CALIFICACIÓN ENERGÉTICA OBTENIDA:" %}</h4>

      <div class="calif">
        <table>
          <tr>
            <td class="title">{% trans "CONSUMO DE ENERGÍA PRIMARIA NO RENOVABLE" %}<br />[{% trans "kWh/m<sup>2</sup>·año" %}]</td>
            <td class="title">{% trans "EMISIONES DE DIÓXIDO DE CARBONO" %}<br />[{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]</td>
          </tr>
          <tr>
            <td><img class="escala"  src="{% escalasvg report.data.Calificacion.EnergiaPrimariaNoRenovable.Global  report.data.Consumo.EnergiaPrimariaNoRenovable.Global %}" /></td>

            <td><img class="escala"  src="{% escalasvg report.data.Calificacion.EmisionesCO2.Global report.data.EmisionesCO2.Global %}" /></td>
          </tr>
        </table>
      </div>
      <br>
      <div>
        <p>
          {% blocktrans %}
          El técnico certificador abajo firmante certifica que ha realizado la calificación energética del edificio o de la parte que se certifica
          de acuerdo con el procedimiento establecido por la normativa vigente y que son ciertos los datos que figuran en el presente
          documento, y sus anexos:
          {% endblocktrans %}
        </p>

        <p>{% trans "Fecha:" %} {{ report.data.DatosDelCertificador.Fecha }}</p>
        <br />
        <p class="text-center">{% trans "Firma del técnico certificador:" %} {{ report.data.DatosDelCertificador.NombreyApellidos}} - {{ report.data.DatosDelCertificador.NIF}}</p>

        <ol>
          <li><strong>{% trans "Anexo I." %}</strong> {% trans "Descripción de las características energéticas del edificio." %}</li>
          <li><strong>{% trans "Anexo II." %}</strong> {% trans "Calificación energética del edificio." %}</li>
          <li><strong>{% trans "Anexo III." %}</strong> {% trans "Recomendaciones para la mejora de la eficiencia energética." %}</li>
          <li><strong>{% trans "Anexo IV." %}</strong> {% trans "Pruebas, comprobaciones e inspecciones realizadas por el técnico certificador." %}</li>
        </ol>

        <p>{% trans "Registro del Órgano Territorial Competente:" %}</p>
      </div>
    </div>
    {% endif %}
    <!-- Falta tabla de pie de página (ver modelo )-->
    <div class="page-break"></div>

    {% if pdf %}
    <h3 class="text-center" id="anexo-I">{% trans "ANEXO I" %}<br />{% trans "DESCRIPCIÓN DE LAS CARACTERÍSTICAS ENERGÉTICAS DEL EDIFICIO" %}</h3>

    <p>
      {% blocktrans %}
      En este apartado se describen las características energéticas del edificio, envolvente térmica, instalaciones,
      condiciones de funcionamiento y ocupación y demás datos utilizados para obtener la calificación energética del edificio.
      {% endblocktrans %}
    </p>

    <h4>{% trans "1. SUPERFICIE, IMAGEN Y SITUACIÓN" %}</h4>

    <table>
      <tr>
        <td class="title col-md-5">{% trans "Superficie habitable" %} [{% trans "m<sup>2</sup>" %}]</td>
        <td class="col-md-7">
          <a href="#" class="editable3" data-type="number" data-step="any" id="DatosGeneralesyGeometria.SuperficieHabitable">
            {{ report.data.DatosGeneralesyGeometria.SuperficieHabitable|asnum  }}
          </a>
        </td>
      </tr>
    </table>

    <br />

    <table class="fotos col-md-12">
      <tr>
        <td class="title col-md-6">{% trans "Imagen del Edificio" %}</td>
        <td class="title col-md-6">{% trans "Plano de situación" %}</td>
      </tr>
      <tr>
        <td class="gray col-md-6" align="center">&nbsp;</td>
        <td class="gray col-md-6" align="center">&nbsp;</td>
      </tr>
    </table>

    <div class="section">
      <h4>{% trans "2. ENVOLVENTE TÉRMICA" %}</h4>

      <h5>{% trans "Cerramientos opacos" %}</h5>

      <table class="table-hover">
        <tr>
          <td width="30%" class="title">{% trans "Nombre" %}</td>
          <td width="10%" class="title">{% trans "Tipo" %}</td>
          <td width="17%" class="title">{% trans "Superficie" %} [{% trans "m<sup>2</sup>" %}]</td>
          <td class="title">{% trans "Transmitancia" %} [{% trans "W/m<sup>2</sup>·K" %}]</td>
          <td width="20%" class="title">{% trans "Modo de obtención" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="5">&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h5>{% trans "Huecos y lucernarios" %}</h5>

      <table>
        <tr>
          <td width="30%" class="title">{% trans "Nombre" %}</td>
          <td width="8%" class="title">{% trans "Tipo" %}</td>
          <td width="12%" class="title">{% trans "Superficie" %} [{% trans "m<sup>2</sup>" %}]</td>
          <td class="title">{% trans "Transmitancia" %} [{% trans "W/m<sup>2</sup>·K" %}]</td>
          <td width="8%" class="title">{% trans "Factor solar" %}</td>
          <td width="14%" class="title">{% trans "Modo de obtención." %}<br />{% trans "Transmitancia" %}</td>
          <td width="14%" class="title">{% trans "Modo de obtención." %}<br />{% trans "Factor solar" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="7">&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h4>{% trans "3. INSTALACIONES TÉRMICAS" %}</h4>

      <h5>{% trans "Generadores de calefacción" %}</h5>

      <table>
        <tr>
          <td width="23%" class="title">{% trans "Nombre" %}</td>
          <td width="20%" class="title">{% trans "Tipo" %}</td>
          <td class="title">{% trans "Potencia nominal" %} [kW]</td>
          <td class="title">{% trans "Rendimiento estacional" %} [%]</td>
          <td width="20%" class="title">{% trans "Tipo de energía" %}</td>
          <td width="12%" class="title">{% trans "Modo de obtención" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="shade"></td>
          <td class="total num calc"></td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="shade"></td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h5>{% trans "Generadores de refrigeración" %}</h5>

      <table>
        <tr>
          <td width="23%" class="title">{% trans "Nombre" %}</td>
          <td width="20%" class="title">{% trans "Tipo" %}</td>
          <td class="title">{% trans "Potencia nominal" %} [kW]</td>
          <td class="title">{% trans "Rendimiento estacional" %} [%]</td>
          <td width="20%" class="title">{% trans "Tipo de energía" %}</td>
          <td width="12%" class="title">{% trans "Modo de obtención" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="shade"></td>
          <td class="total num calc"></td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="shade"></td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h5>{% trans "Instalaciones de Agua Caliente Sanitaria" %}</h5>

      <table style="width:65%">
        <tr>
          <td width="45%" class="title">{% trans "Demanda diaria de ACS a 60ºC (litros/dia)" %}</td>
          <td width="20%" class="num gray">&nbsp;</td>
        </tr>
        <tr>
          <td class="gray" colspan="2">&nbsp;</td>
        </tr>
      </table>

      <br />

      <table>
        <tr>
          <td width="23%" class="title">{% trans "Nombre" %}</td>
          <td width="20%" class="title">{% trans "Tipo" %}</td>
          <td class="title">{% trans "Potencia nominal" %} [kW]</td>
          <td class="title">{% trans "Rendimiento estacional" %} [%]</td>
          <td width="20%" class="title">{% trans "Tipo de energía" %}</td>
          <td width="12%" class="title">{% trans "Modo de obtención" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="6">&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="section solo-terciario">
      <h5>{% trans "Sistemas secundarios de calefacción y/o refrigeración (sólo edificios terciarios)" %}</h5>

    </div>

    <div class="section solo-terciario">
      <h5>{% trans "Torres de refrigeración (sólo edificios terciarios)" %}</h5>

      <table>
        <tr>
          <td class="title" width="25%">{% trans "Nombre" %}</td>
          <td class="title" width="25%">{% trans "Tipo" %}</td>
          <td class="title" width="25%">{% trans "Servicio asociado" %}</td>
          <td class="title" width="25%">{% trans "Consumo de energía" %} [{% trans "kWh/año" %}]</td>
        </tr>
        <tr>
          <td class="gray" colspan="4">&nbsp;</td>
        </tr>

        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="total num calc"></td>
        </tr>
      </table>
    </div>

    <div class="section solo-terciario">
      <h5>{% trans "Ventilación y bombeo (sólo edificios terciarios)" %}</h5>

      <table>
        <tr>
          <td class="title" width="25%">{% trans "Nombre" %}</td>
          <td class="title" width="25%">{% trans "Tipo" %}</td>
          <td class="title" width="25%">{% trans "Servicio asociado" %}</td>
          <td class="title" width="25%">{% trans "Consumo de energía" %} [{% trans "kWh/año" %}]</td>
        </tr>
        <tr>
          <td class="gray" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="total num calc"></td>
        </tr>
      </table>
    </div>

    <div class="section solo-terciario">
      <h4>{% trans "4. INSTALACIÓN DE ILUMINACIÓN (sólo edificios terciarios)" %}</h4>

      <table>
        <tr>
          <td class="title" width="30%">{% trans "Espacio" %}</td>
          <td class="title">{% trans "Potencia instalada" %} [{% trans "W/m<sup>2</sup>" %}]</td>
          <td class="title">{% trans "VEEI" %} [{% trans "W/m<sup>2</sup>·100lux" %}]</td>
          <td class="title">{% trans "Iluminancia media" %} [{% trans "lux" %}]</td>
          <td class="title">{% trans "Modo de obtención" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="total num"></td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="shade"></td>
        </tr>
      </table>
    </div>

    <div class="section solo-terciario">
      <h4>{% trans "5. CONDICIONES DE FUNCIONAMIENTO Y OCUPACIÓN (sólo edificios terciarios)" %}</h4>

      <table>
        <tr>
          <td class="title" width="33%">{% trans "Espacio" %}</td>
          <td class="title" width="33%">{% trans "Superficie" %} [{% trans "m<sup>2</sup>" %}]</td>
          <td class="title" width="33%">{% trans "Perfil de uso" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="3">&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h4>{% trans "6. ENERGÍAS RENOVABLES" %}</h4>

      <h5>{% trans "Térmica" %}</h5>
      <table>
        <tr>
          <td class="title" width="20%" rowspan="2">{% trans "Nombre" %}</td>
          <td class="title" colspan="3">{% trans "Consumo de Energía Final cubierto, en función del servicio asociado [%]" %}</td>
          <td class="title" width="20%" align="center" rowspan="2">{% trans "Demanda de ACS cubierta [%]" %}</td>
        </tr>
        <tr>
          <td class="title" width="20%">{% trans "Calefacción" %}</td>
          <td class="title" width="20%">{% trans "Refrigeración" %}</td>
          <td class="title" width="20%">{% trans "ACS" %}</td>
        </tr>
        <tr>
          <td class="gray" colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTALES" %}</td>
          <td class="total num">&nbsp;</td>
          <td class="shade"></td>
          <td class="shade"></td>
          <td class="shade"></td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h5>{% trans "Eléctrica" %}</h5>

      <table style="width:75%" align="center">
        <tr>
          <td class="title">{% trans "Nombre" %}</td>
          <td class="title">{% trans "Energía eléctrica generada y autoconsumida" %} [{% trans "kWh/año" %}]</td>
        </tr>
        <tr>
          <td class="gray" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td class="total text-center">{% trans "TOTAL" %}</td>
          <td class="total num"></td>
        </tr>
      </table>
    </div>
    {% endif %}

    {% if pdf %}
    <!-- ANEXO II - Calificación energética -->
    <h3 class="text-center">
      {% trans "ANEXO II" %} <br>
      {% trans "CALIFICACIÓN ENERGÉTICA DEL EDIFICIO" %}
    </h3>

    <table>
      <tr>
        <td class="title">{% trans "Zona Climática" %}</td>
        <td>{{ report.data.IdentificacionEdificio.ZonaClimatica }}</td>
        <td class="title">{% trans "Uso" %}</td>
        <td width="40%">{{ report.data.IdentificacionEdificio.TipoDeEdificio }}</td>
      </tr>
    </table>
    {% endif %}

    <div class="section">
      <h4>{% trans "1. CALIFICACIÓN ENERGÉTICA DEL EDIFICIO EN EMISIONES" %}</h4>

      <table class="no-fixed">
        <tr>
          <td class="title" width="50%">{% trans "INDICADOR GLOBAL" %}</td>
          {% if not pdf %}
          <td>
            <a href="#" class="editable-calificacion" id="Calificacion.EmisionesCO2.Global" data-value="{{report.data.Calificacion.EmisionesCO2.Global}}" data-type="select" >
            </a>
          </td>
          {% endif %}
          <td class="title" width="50%" colspan="4">{% trans "INDICADORES PARCIALES" %}</td>
        </tr>
        <tr>
          <td rowspan="6" {% if not pdf %}colspan="2"{% endif %} align="center" class="info">
            <img class="escala" src="{% escalasvg report.data.Calificacion.EmisionesCO2.Global report.data.EmisionesCO2.Global %}" />
            {% if not pdf %}
            <div style="font-size: 14px;">{% trans "Emisiones globales" %}:
              <a href="#" class="editable3 " data-type="number" data-step="any" id="EmisionesCO2.Global">
                {{ report.data.EmisionesCO2.Global|default:'' }}
              </a>
              [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]
            </div>
            {% else %}
            <div>{% trans "Emisiones globales" %} [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]</div>
            {% endif %}
          </td>
          <td class="title" colspan="2">{% trans "CALEFACCIÓN" %}</td>
          <td class="title" colspan="2">{% trans "ACS" %}</td>
        </tr>
        <tr>
          <td class="info">{% trans "Emisiones calefacción" %}  [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]</td>
          <td rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EmisionesCO2.Calefaccion" data-value="{{report.data.Calificacion.EmisionesCO2.Calefaccion}}" data-type="select">
            </a>
          </td>
          <td class="info">{% trans "Emisiones ACS" %}  [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]</td>
          <td rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EmisionesCO2.ACS" data-value="{{report.data.Calificacion.EmisionesCO2.ACS}}" data-type="select">
            </a>
          </td>
        </tr>
        <tr>
          <td class="info">
            <a href="#" class="editable" data-type="number" data-step="any" id="EmisionesCO2.Calefaccion">
              {{ report.data.EmisionesCO2.Calefaccion|default:'' }}
            </a>
          </td>
          <td class="info">
            <a href="#" class="editable" data-type="number" data-step="any" id="EmisionesCO2.ACS">
              {{ report.data.EmisionesCO2.ACS|default:'' }}
            </a>
          </td>
        </tr>

        <tr>
          <td class="title"  colspan="2">{% trans "REFRIGERACIÓN" %}</td>
          <td class="title"  colspan="2">{% trans "ILUMINACIÓN" %}</td>
        </tr>
        <tr>
          <td class="info">{% trans "Emisiones Refrigeración" %} [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]</td>
          <td rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EmisionesCO2.Refrigeracion" data-value="{{report.data.Calificacion.EmisionesCO2.Refrigeracion}}" data-type="select">
            </a>
          </td>
          <td class="info">
            {% trans "Emisiones Iluminación" %} [{% trans "kgCO<sub>2e</sub>/m<sup>2</sup>·año" %}]
          </td>
          <td class="solo-terciario" rowspan="2" class="calificacion-cell">
            {% if not es_vivienda %}
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EmisionesCO2.Iluminacion" data-value="{{report.data.Calificacion.EmisionesCO2.Iluminacion}}" data-type="select">
            </a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="info">
            <a href="#" class="editable" data-type="number" data-step="any" id="EmisionesCO2.Refrigeracion">
              {{ report.data.EmisionesCO2.Refrigeracion|default:'' }}
            </a>
          </td>
          <td class="info">
            {% if not es_vivienda %}
            <a href="#" class="editable" data-type="number" data-step="any"  id="EmisionesCO2.Iluminacion">
              {{ report.data.EmisionesCO2.Iluminacion|default:'' }}
            </a>
            {% endif %}
          </td>
        </tr>
      </table>

    </div>

    <div class="section">
      <h4>{% trans "2. CALIFICACIÓN ENERGÉTICA DEL EDIFICIO EN CONSUMO DE ENERGÍA PRIMARIA NO RENOVABLE" %}</h4>

      <p>
        {% blocktrans %}
        Por energía primara no renovable se entiende la energía consumida por el edificio procedente de fuentes no
        renovables que no ha sufrido ningún proceso de conversión o transformación.
        {% endblocktrans %}
      </p>

      <table class="no-fixed">
        <tr>
          <td class="title" width="50%">{% trans "INDICADOR GLOBAL" %}</td>
          {% if not pdf %}
          <td>
            <a href="#" class="editable-calificacion" id="Calificacion.EnergiaPrimariaNoRenovable.Global" data-value="{{report.data.Calificacion.EnergiaPrimariaNoRenovable.Global}}" data-type="select" >
            </a>
          </td>
          {% endif %}
          <td class="title" width="50%" colspan="4">{% trans "INDICADORES PARCIALES" %}</td>
        </tr>
        <tr>
          {% if not pdf %}
          <td rowspan="6" colspan="2"  align="center" class="info">
            <img  class="escala" id="Calificacion.EnergiaPrimariaNoRenovable.Global" src="{% escalasvg report.data.Calificacion.EnergiaPrimariaNoRenovable.Global report.data.Consumo.EnergiaPrimariaNoRenovable.Global %}" />
            <div {% if not pdf %}style="font-size: 14px;"{% endif %}>{% trans "Consumo global de energía primaria no renovable" %}:
              <a href="#" class="editable3" data-type="number" data-step="any" id="Consumo.EnergiaPrimariaNoRenovable.Global">
                {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Global|default:'' }}
              </a>
              [{% trans "kWh/m<sup>2</sup>·año" %}]</div>
          </td>
          {% else %}
          <td rowspan="6" align="center" class="info">
            <img class="escala" src="{% escalasvg report.data.Calificacion.EnergiaPrimariaNoRenovable.Global report.data.Consumo.EnergiaPrimariaNoRenovable.Global %}" />
            <div>{% trans "Consumo global de energía primaria no renovable" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</div>
          </td>
          {% endif %}
          <td class="title" colspan="2">{% trans "CALEFACCIÓN" %}</td>
          <td class="title" colspan="2">{% trans "ACS" %}</td>
        </tr>

        <tr>
          <td class="info">{% trans "Energía primaria calefacción" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</td>
          <td  rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EnergiaPrimariaNoRenovable.Calefaccion" data-value="{{report.data.Calificacion.EnergiaPrimariaNoRenovable.Calefaccion}}" data-type="select">
            </a>
          </td>
          <td class="info">{% trans "Energía primaria ACS" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</td>
          <td rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EnergiaPrimariaNoRenovable.ACS" data-value="{{report.data.Calificacion.EnergiaPrimariaNoRenovable.ACS}}" data-type="select">
            </a>
          </td>
        </tr>

        <tr>
          <td class="info">
            <a href="#" data-type="number" data-step="any" class="editable"  id="Consumo.EnergiaPrimariaNoRenovable.Calefaccion">
              {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Calefaccion|default:'' }}
            </a>
          </td>
          <td class="info">
            <a href="#" data-type="number" data-step="any" class="editable"  id="Consumo.EnergiaPrimariaNoRenovable.ACS">
              {{ report.data.Consumo.EnergiaPrimariaNoRenovable.ACS|default:'' }}
            </a>
          </td>
        </tr>

        <tr>
          <td class="title"  colspan="2">{% trans "REFRIGERACIÓN" %}</td>
          <td class="title"  colspan="2">{% trans "ILUMINACIÓN" %}</td>
        </tr>
        <tr>
          <td class="info">{% trans "Energía primaria refrigeración" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</td>
          <td rowspan="2" class="calificacion-cell">
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EnergiaPrimariaNoRenovable.Refrigeracion" data-value="{{report.data.Calificacion.EnergiaPrimariaNoRenovable.Refrigeracion}}" data-type="select">
            </a>

          </td>
          <td class="info">
            {% trans "Energía primaria iluminación" %} [{% trans "kWh/m<sup>2</sup>·año" %}]
          </td>
          <td rowspan="2" class="calificacion-cell">
            {% if not es_vivienda %}
            <a href="#" class="editable-calificacion-cannull" id="Calificacion.EnergiaPrimariaNoRenovable.Iluminacion" data-value="{{report.data.Calificacion.EnergiaPrimariaNoRenovable.Iluminacion}}" data-type="select">
            </a>
            {% endif %}
          </td>
        </tr>

        <tr>
          <td class="info">
            <a href="#" data-type="number" data-step="any" class="editable"  id="Consumo.EnergiaPrimariaNoRenovable.Refrigeracion">
              {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Refrigeracion|default:'' }}
            </a>
          </td>
          <td class="info solo-terciario">
            {% if not es_vivienda %}
            <a href="#"  data-type="number" data-step="any" class="editable"  id="Consumo.EnergiaPrimariaNoRenovable.Iluminacion">
              {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Iluminacion|default:'' }}
            </a>
            {% endif %}
          </td>
        </tr>

      </table>
    </div>

    <div class="section">
      <h4>{% trans "3. CALIFICACIÓN PARCIAL DE LA DEMANDA ENERGÉTICA DE CALEFACCIÓN Y REFRIGERACIÓN" %}</h4>

      <p>
        {% blocktrans %}
        La demanda energética de calefacción y refrigeración es la energía necesaria para mantener las condiciones
        internas de confort del edificio.
        {% endblocktrans %}
      </p>

      <div class="row">
        <div class="calif">
          <table>
            <tr>
              <td class="title">{% trans "DEMANDA DE CALEFACCIÓN" %}</td>
              {% if not pdf %}
              <td class="calificacion-cell">
                <a href="#" class="editable-calificacion-cannull" id="Calificacion.Demanda.Calefaccion" data-value="{{report.data.Calificacion.Demanda.Calefaccion}}" data-type="select">
                </a>
              </td>
              {% endif %}
              <td class="title">{% trans "DEMANDA DE REFRIGERACIÓN" %}</td>
              {% if not pdf %}
              <td class="calificacion-cell">
                <a href="#" class="editable-calificacion-cannull" id="Calificacion.Demanda.Refrigeracion" data-value="{{report.data.Calificacion.Demanda.Refrigeracion}}" data-type="select" >
                </a>
              </td>
              {% endif %}
            </tr>
            <tr>
              <!-- XXX: ver aquí los casos de terciario con 08 ren/h -->
              <td {% if not pdf %}colspan="2"{% endif %}><img class="escala"  src="{% escalasvg report.data.Calificacion.Demanda.Calefaccion report.data.Demanda.EdificioObjeto.Calefaccion %}" /></td>
              <td {% if not pdf %}colspan="2"{% endif %}><img class="escala" src="{% escalasvg report.data.Calificacion.Demanda.Refrigeracion report.data.Demanda.EdificioObjeto.Refrigeracion %}" /></td>
            </tr>
            {% if not pdf %}
            <tr>
              <td class="info" colspan="2">{% trans "Demanda de calefacción" %}:
                <a href="#" data-type="number" data-step="any" class="editable3" data-type="number" data-step="any" id="Demanda.EdificioObjeto.Calefaccion">
                  {{ report.data.Demanda.EdificioObjeto.Calefaccion|default:'' }}
                </a>
                {% trans "kWh/m<sup>2</sup>·año" %}
              </td>
              <td class="info" colspan="2">{% trans "Demanda de refrigeración" %}:
                <a href="#" data-type="number" data-step="any" class="editable3"  data-type="number" data-step="any" id="Demanda.EdificioObjeto.Refrigeracion">
                  {{ report.data.Demanda.EdificioObjeto.Refrigeracion|default:'' }}
                </a>
                {% trans "kWh/m<sup>2</sup>·año" %}
              </td>
            </tr>
            {% else %}
            <tr>
              <td class="info">{% trans "Demanda de calefacción" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</td>
              <td class="info">{% trans "Demanda de refrigeración" %} [{% trans "kWh/m<sup>2</sup>·año" %}]</td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>

    <div class="section visible-print-block">
      <h3 class="text-center">{% trans "ANEXO III" %}<br />{% trans "RECOMENDACIONES PARA LA MEJORA DE LA EFICIENCIA ENERGÉTICA" %}</h3>
      <table>
        <tr>
          <td class="gray">
            {% trans "Sin medidas de mejora de la eficiencia energética" %}
          </td>
        </tr>
      </table>

      <h3 class="text-center">ANEXO IV<br />{% trans "PRUEBAS, COMPROBACIONES E INSPECCIONES REALIZADAS POR EL TÉCNICO CERTIFICADOR" %}</h3>
      <table>
        <tr>
          <td class="gray">
            {% trans "Sin pruebas, comprobaciones o inspecciones." %}
          </td>
        </tr>
      </table>

      <h3 class="text-center">{% trans "ANEXO V" %}<br />{% trans "Justificación de Soluciones Singulares" %}</h3>
      <table>
        <tr>
          <td class="gray">
            {% trans "Sin soluciones singulares." %}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br />


  <script>
    var generation_date = '{{ report.data.DatosDelCertificador.Fecha }}';
    var reference = '{{ report.data.IdentificacionEdificio.ReferenciaCatastral }}';
  </script>
  {% endblock %}

  {% block extra_js %}
  <script>

  $(function() {

    $.fn.editable.defaults.mode = 'inline';

    $('.editable-alcance').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      value: '{{report.data.IdentificacionEdificio.AlcanceInformacionXML}}',
      source :[{value: "CertificacionNuevo", text: 'Certificacion Nuevo'}],
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          document.location.reload(true);
      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });

    $('.editable-clima').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      source :[
        {value: "alfa1", text: 'alfa1'},
        {value: "alfa2", text: 'alfa2'},
        {value: "alfa3", text: 'alfa3'},
        {value: "alfa4", text: 'alfa4'},
        {value: "A1", text: 'A1'},
        {value: "A2", text: 'A2'},
        {value: "A3", text: 'A3'},
        {value: "A4", text: 'A4'},
        {value: "B1", text: 'B1'},
        {value: "B2", text: 'B2'},
        {value: "B2", text: 'B3'},
        {value: "B3", text: 'B4'},
        {value: "C1", text: 'C1'},
        {value: "C2", text: 'C2'},
        {value: "C3", text: 'C3'},
        {value: "C4", text: 'C4'},
        {value: "D1", text: 'D1'},
        {value: "D2", text: 'D2'},
        {value: "D3", text: 'D3'},
        {value: "D4", text: 'D4'},
        {value: "E1", text: 'E1'},
        {value: "E2", text: 'E2'},
        {value: "E3", text: 'E3'},
        {value: "E4", text: 'E4'},
      ],
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          $(this).closest("td").addClass("edited");
          $(".procedimiento").addClass("edited");
          validate_download();
          $(".editable-clima").html(newValue);
      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });

    $('.editable-calificacion-cannull').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      source :[
        {value: "", text: ''},
        {value: "A", text: 'A'},
        {value: "B", text: 'B'},
        {value: "C", text: 'C'},
        {value: "D", text: 'D'},
        {value: "E", text: 'E'},
        {value: "F", text: 'F'},
        {value: "G", text: 'G'},

      ],
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          document.location.reload(true)
      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });

    $('.editable-calificacion').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      source :[
        {value: "A", text: 'A'},
        {value: "B", text: 'B'},
        {value: "C", text: 'C'},
        {value: "D", text: 'D'},
        {value: "E", text: 'E'},
        {value: "F", text: 'F'},
        {value: "G", text: 'G'},
      ],
      emptytext: '<span class="hidden-print">Editar</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          $(this).closest("td").removeClass("report-warning");
          $(this).closest("td").addClass("edited");
          $(".procedimiento").addClass("edited");
          if( $(".procedimiento a").html().indexOf("Pulse para") != -1 ){
            $(".procedimiento a").html("GeneradorXML ");
          }
          if( $(".procedimiento a").html().indexOf("+ [Generador VisorXML 1.0]") == -1 ){
            $(".procedimiento a").html($(".procedimiento a").html()+ " + [Generador VisorXML 1.0]");
          }
          validate_download();
      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });



    $('.editable-tipo').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      value: '{{report.data.IdentificacionEdificio.TipoDeEdificio}}',
      source :[
        {value: "ViviendaUnifamiliar", text: 'Vivienda Unifamiliar'},
        {value: "BloqueDeViviendaCompleto", text: 'Bloque De Vivienda Completo'},
        {value: "ViviendaIndividualEnBloque", text: 'Vivienda Indvidual En Bloque'},
        {value: "EdificioUsoTerciario", text: 'Edificio Uso Terciario'},
        {value: "LocalUsoTerciario", text: 'Local Uso Terciario'},
      ],
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          document.location.reload(true)

      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });

    $('.editable3').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      csrfmiddlewaretoken:"{{ csrf_token }}" ,
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          document.location.reload(true)
      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });


    $('.editable').editable({
      url: '{% url "update-xml-mini" %}',
      pk: 1,
      csrfmiddlewaretoken:"{{ csrf_token }}" ,
      emptytext: '<span class="hidden-print">Pulse para editar...</span><span class="visible-print-block"><br /></span>',
      onblur: "submit",
      success: function(response, newValue) {
          $(this).closest("td").removeClass("report-warning");
          $(this).closest("td").addClass("edited");
          $(".procedimiento").addClass("edited");
          if( $(".procedimiento a").html().indexOf("Pulse para") != -1 ){
            $(".procedimiento a").html("GeneradorXML ");
          }

          if( $(".procedimiento a").html().indexOf("+ [Generador VisorXML 1.0]") == -1 ){
            $(".procedimiento a").html($(".procedimiento a").html()+ " + [Generador VisorXML 1.0]");
          }

          if ($(this).data("refresh") != undefined){
            $("."+$(this).data("refresh")).html(newValue);
          }

          if( $(this).attr("id") == "IdentificacionEdificio.Procedimiento"){
            _this = $(this);
            value = newValue;
            setTimeout(function(){
              if(value.indexOf("+ [Generador VisorXML 1.0]") == -1 )
                _this.html(newValue + " + [Generador VisorXML 1.0]");
            }, 400);
          }

          validate_download();

      },
      error: function(response, newValue) {
        alert("Ha occurrido un error inesperado!");
      },
    });

    validate_download();


  });

  function validate_download(){
    $.ajax({
      url: "{% url 'validate-mini-xml' %}",
      success: function(data){
          if(data=="Yes")
            $(".get-file-li").removeClass("hidden");
          else
            $(".get-file-li").addClass("hidden");
      },
    });
  }

  </script>
{% endblock %}




{% block downloads %}

      <li class="get-file-li hidden"><a href="{% url 'download-pdf-mini' %}"><img class="get-file-header" src="{% static "img/pdf.png" %}" alt="obtener pdf" /></a></li>
      <li class="get-file-li hidden"><a href="{% url 'download-xml-mini' %}"><img class="get-file-header" src="{% static "img/xml.png" %}" alt="obtener xml" /></a></li>

{% endblock %}
