.top-buffer { margin-top:20px; }

/* Informe */
/* http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/ */
@page {
    size: A4 portrait;
    margin: 1.5cm 1cm 1.5cm 2cm;
    @bottom-right {
        font: 8pt Arial,sans-serif;
        line-height:1.2;
        width: 100%;
        content: "Página " counter(page) " de " counter(pages);
    }
}

@media all {
    .page-break	{ display: none; }

    .informe h2, .informe h3, .informe h4, .informe h5 {font-weight: bold}
    .informe table {border-collapse: collapse; width: 100%; border-width:0px}
    .informe table, .informe table th, .informe table tr, .informe table tr td {border: 1px solid grey;}
    .informe table td.info {font-size:12px; font-style: italic; text-align:center}
    .informe .title, .table td.title, .table th.title {background-color: #fde9d9 !important; text-align:center; font-weight:bold}
    .informe div.calif {padding-left:20%}
    .informe div.calif table {width:60%; text-align:center}
    .informe div.calif table td {width:50%}
    .informe div.calif table td img {padding:5px}
    .informe div.calif {margin-left:auto; margin-right:auto}
    .informe .num {text-align: right}
    .informe table.top .title {text-align:left;}
    .informe .total {background-color: #fbd4b4 !important; font-weight:bold}
    .informe .dif {background-color: #fbd4b4 !important;}
    .informe .shade {background-color: #ebdfd5 !important;}
    .informe .calc {color:blue !important;} /* Elementos calculados */
    .informe ol{list-style-type: none;}
}

@media screen {
    .page-break	{ display: none; }
    div.piedepagina {display: none;}

    .informe td {padding: 0.1em 0.3em;}
    .informe img.fotos {width:100%; max-height:460px;}
    .informe table.fotos {table-layout: fixed;}
}

@media print {
    .page-break	{ display: block; page-break-before: always; }
    div.piedepagina {position: fixed; bottom: -1cm;}

    body {
        font: 9pt Arial,sans-serif;
        line-height:1.2;
        margin:0;
    }

    h1 {font-size:14pt}
    h2 {font-size:14pt}
    h3 {font-size:13pt}
    h4 {font-size:10pt}
    h5 {font-size:10pt}
    h6 {font-size:8pt}
    h1, h2, h3, h4 {margin:2.5mm 0; page-break-after: avoid;}
    h5, h6 {margin:1mm 0}
    small, .small {font-size: 8pt}

    header nav, nav, footer { display: none } /* Ocultar elementos de navegación en PDF */
    .navbar, .navbar-header, .navbar-brand {display:none}
    /* .informe img.fotos {width:100%; height:auto; image-resolution: 300dpi;} */
    .informe img.fotos {width:auto; max-width:50%; height:5cm; image-resolution: 300dpi;}
    .informe td {padding: 0mm 1.5mm;}
    .informe table {page-break-inside: avoid;}
    .informe div.calif {padding-left:4cm;}
    .informe div.calif table {width:75%}
    .informe div.calif table td img {padding:1.5mm}
}

}


