@media all {
  .glyphicon-bordered {
    font-size: 60%;
    border: 1px solid black;
  }

  .glyphicon-empty:before {
    content: "\00a0";
  }

  .page-break {
    display: none;
  }

  .panel-title {
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 10px -15px 10px -15px;
    padding: 10px 15px;
  }

  .add-button {
    float: right;
    margin-top: 10px;
  }

  .informe h2,
  .informe h3,
  .informe h4,
  .informe h5 {
    font-weight: bold
  }

  .sup-report .chart-container {
    width:100%;
    height:400px;
  }

  .sup-report .chart {
    width:100%;
    height:350px;
  }

  .sup-report table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .sup-report table tr.header {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .informe table,
  .sup-report table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  .informe table.no-fixed {
    table-layout: auto;
  }

  .informe table,
  .informe table tr td {
    border: 1px solid grey;
  }

  .informe table td.info,
  .sub-report table td.info {
    font-size: 12px;
    font-style: italic;
    text-align: center
  }

  p.title,
  .informe .title,
  .table td.title,
  .table th.title {
    background-color: #fde9d9 !important;
    text-align: center;
    font-weight: bold
  }

  .informe div.calif {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .informe div.calif table {
    text-align: center
  }

  .informe div.calif table td {
    width: 50%
  }

  .informe div.calif table td img {
    padding: 5px
  }

  .informe .num {
    text-align: right
  }

  .informe table.top .title {
    text-align: left;
  }

  .informe .total {
    background-color: #fbd4b4 !important;
    font-weight: bold
  }

  .informe .dif {
    background-color: #fbd4b4 !important;
  }

  .informe .shade {
    background-color: #ebdfd5 !important;
  }

  .informe .calc {
    color: blue !important;
  }

  /* Elementos calculados */
  .informe ol {
    list-style-type: none;
  }

  .scale_color_A {
    background-color: #00a651 !important;
  }
  .scale_color_B {
    background-color: #4cb847 !important;
  }
  .scale_color_C {
    background-color: #bfd630 !important;
  }
  .scale_color_D {
    background-color: #fff100 !important;
  }
  .scale_color_E {
    background-color: #feb811 !important;
  }
  .scale_color_F {
    background-color: #f36f23 !important;
  }
  .scale_color_G {
    background-color: #ee1c25 !important;
  }

  /* WYSIHTML5 overrides */

  .wysihtml5-toolbar .btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .icon-list:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e056";
  }

  .icon-th-list:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e012";
  }

  .icon-indent-right:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e058";
  }

  .icon-indent-left:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e057";
  }

  .icon-share:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e144";
  }

  .icon-picture:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e060";
  }
}

@media screen {
  body {
    padding-top: 50px;
  }

  img.escala {
    height: 130px;
    width: 195px;
  }

  .page-break {
    display: none;
  }

  .getfile {
    margin-top: 20px;
  }

  .informe td {
    padding: 0.1em 0.3em;
  }

  img.fotos {
    width: 100%;
    max-height: 460px;
  }

  table.fotos {
    table-layout: fixed;
  }
}

@media print {
  html,
  body {
    font: 7pt Arial, sans-serif !important;
    line-height: 1.2 !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }

  .glyphicon-bordered {
    font-size: 60%;
    border: .5px solid black;
  }

  img.escala {
    height: 100px;
    width: 165px;
  }

  .sup-report .chart-container {
    width:100%;
    height:300px;
  }

  .sup-report .chart {
    width:100%;
    height:250px;
  }

  .section {
    page-break-inside: avoid;
  }

  .page-break {
    display: block !important;
    page-break-before: always !important;
  }

  .editable-click,
  a.editable-click {
    text-decoration: none !important;
    border-bottom: 0;
  }

  h1 {
    font-size: 11pt !important;
  }

  h2 {
    font-size: 11pt !important;
    font-weight: bolder !important;
    font-stretch: ultra-condensed !important;
  }

  h3 {
    font-size: 10pt !important;
  }

  h4 {
    font-size: 7pt !important;
  }

  h5 {
    font-size: 7pt !important;
  }

  h6 {
    font-size: 6pt !important;
  }

  h1,
  h2,h3,
  h4 {
    margin: 2.5mm 0 !important;
    page-break-after: avoid !important;
  }

  h5,
  h6 {
    margin: 1mm 0 !important;
  }

  small,
  .small {
    font-size: 80% !important;
  }

  header nav,
  nav,
  footer {
    display: none !important;
  }

  /* Ocultar elementos de navegación en PDF */
  .navbar,
  .navbar-header,
  .navbar-brand {
    display: none !important;
  }

  .informe td {
    padding: 0mm 1.5mm !important;
  }

  .informe table {
    page-break-inside: avoid !important;
  }

  .informe table td.info {
    font-size: 7pt;
  }

  .informe div.calif {
    /*width: 60%;*/
  }

  .informe div.calif table td img {
    padding: 1.5mm !important;
  }

  div.footer {
  }

  div.footer .pages {
    float: right;
  }
}


.get-file-header{
  max-height: 60px;
  position: relative;
  top: -10px;
}


.get-file-li{
  height: 72px;
}

.upload-image{
  width: 560px;
  height: 375px;
  line-height: 375px;
  text-align: center;
  display: inline-block;
}

.upload-image div{
  height: 375px;
  width: 560px;
}
.upload-image div:hover{
  background: rgba(200,200,200,0.7);
}

.upload-image img{
  vertical-align: middle;
  display: none;
}

.upload-image:hover img{
  display: inline;
}

.measures-xml-link{
  font-size: 16px;
  font-weight: 600;
}

.upload-image {
  background-size: contain;
               background-position: center;
               background-repeat: no-repeat;"
}

.wysihtml5-toolbar li:nth-child(4){
  display: none;
}

.modal-backdrop{display: none!important}


.delete-visit{
  font-weight: 600;
}

td.editor-html5 a{
  color: #333;
  border-bottom: 0px;
}

td.edited{
  background: #dfd;
}

td.report-warning{
  background: lightcoral;
}

a.add-singular-solutions{
  margin-right: 10px;
}