{% extends "base.html" %}

{% block title %}Visor CTE_XML - Validador{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Informe energético del edificio en formato XML</h1>
</div>
<div class="page">
  <div class="row">
    <div class="col-xs-8">
      <p>Esta aplicación facilita el aprovechamiento de los informes de evaluación energética en formato electrónico, para su comprobación, visualización y edición.</p>
      <p>Este formato facilita el intercambio electrónico y el proceso de datos procedentes de procedimientos de evaluación de la demanda y del consumo energético orientados a la certificación energética de edificios o la verificación del DB-HE del Código Técnico de la Edificación. La definición del formato se describe en el documento <a href="{{ url_for('static', filename='validador/20150519 - Informe de evaluación energética del edificio en formato electrónico (XML).pdf') }}">Informe de evaluación energética del edificio en formato electrónico (XML)</a>.</p>

      <p>Este programa se ha desarrollado por el Instituto Eduardo Torroja (IETcc-CSIC) bajo el convenio suscrito con el Ministerio de Fomento.</p>

      <div class="well">
        <ul>
          <li>
            <p>Definición del esquema de datos <small>(sintaxis <a href="http://www.w3.org/XML/Schema">XML Schema 1.1</a>)</small>:</p>
            <ul>
              <li><a href="{{ url_for('static', filename='validador/DatosEnergeticosDelEdificioSchema20.xsd') }}">versión 2.0</a></li>
              <li><a href="{{ url_for('static', filename='validador/DatosEnergeticosDelEdificioSchema10.xsd') }}">versión 1.0</a></li>
            </ul>
          </li>

          <li><a href="{{ url_for('static', filename='validador/Cambios.txt') }}">Registro de cambios</a> entre versiones del esquema.</li>
          <li>
            <p>Archivos de ejemplo:</p>
            <ul>
              <li>Informe de edificio con uso terciario (v2.0): <a href="{{ url_for('static', filename='validador/EjemploTerciario.xml') }}">EjemploTerciario.xml</a></li>
              <li>Informe de edificio con uso residencial (v2.0): <a href="{{ url_for('static', filename='validador/EjemploResidencial.xml') }}">EjemploResidencial.xml</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-4">
      <img class="img-responsive" src="{{ url_for('static', filename='img/res/light-bulb-499796_1280.jpg') }}" />
    </div>
  </div>

</div>

{% endblock %}
