{% extends "base.html" %}

{% block title %}Visor CTE_XML - Validador{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Informe energético del edificio en formato XML</h1>
</div>
<div class="page">
  <div class="row">
    <div class="col-xs-8">
      <p>Esta aplicación facilita el aprovechamiento de los informes de evaluación energética en formato electrónico, para su comprobación, visualización y edición.</p>
      <p>Este formato está orientado al intercambio electrónico y al proceso de datos originados en procedimientos de evaluación de la demanda y del consumo energético para la certificación energética de edificios y la verificación del DB-HE del Código Técnico de la Edificación (CTE). La definición del formato se describe en el documento <a href="{{ url_for('static', filename='validador/20150519 - Informe de evaluación energética del edificio en formato electrónico (XML).pdf') }}">Informe de evaluación energética del edificio en formato electrónico (XML)</a>.</p>

      <div class="well clear">
        <ul>
          <li>
            <p>Definición del esquema de datos <small>(sintaxis <a href="http://www.w3.org/XML/Schema">XML Schema 1.1</a>)</small>:</p>
            <ul>
              <li><a href="{{ url_for('static', filename='validador/DatosEnergeticosDelEdificioSchema20.xsd') }}">versión 2.0</a></li>
              <li><a href="{{ url_for('static', filename='validador/DatosEnergeticosDelEdificioSchema10.xsd') }}">versión 1.0</a></li>
            </ul>
          </li>

          <li><a href="{{ url_for('static', filename='validador/Cambios.txt') }}">Registro de cambios</a> entre versiones del esquema.</li>
          <li>
            <p>Archivos de ejemplo:</p>
            <ul>
              <li>Informe de edificio con uso terciario (v2.0): <a href="{{ url_for('static', filename='validador/EjemploTerciario.xml') }}">EjemploTerciario.xml</a></li>
              <li>Informe de edificio con uso residencial (v2.0): <a href="{{ url_for('static', filename='validador/EjemploResidencial.xml') }}">EjemploResidencial.xml</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div>
        <p>Este programa está desarrollado por el <b><a href="http://www.ietcc.csic.es">Instituto Eduardo Torroja de Ciencias de la Construcción (IETcc-CSIC)</a></b> en el marco del convenio suscrito con el <b><a href="http://www.fomento.gob.es">Ministerio de Fomento</a></b>.</p>
        <div class="clearfix">
          <a href="http://www.fomento.gob.es"><img class="img-responsive col-xs-6" src="{{ url_for('static', filename='img/logomfom.png') }}" /></a>
          <a href="http://www.ietcc.csic.es"><img class="img-responsive col-xs-6" src="{{ url_for('static', filename='img/logoietcccsic.png') }}" /></a>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <b>Aplicación en fase de pruebas</b><br />El uso de esta aplicación no tiene valor reglamentario.
      </div>
      <img class="img-responsive" src="{{ url_for('static', filename='img/res/light-bulb-499796_1280.jpg') }}" />
    </div>
  </div>

</div>

{% endblock %}
