{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load visorxml %}

{% block title %}{% trans "Informe complementario de eficiencia energética" %}{% endblock %}

{% block content %}

<div class="page">
  {% with id=report.data.IdentificacionEdificio dg=report.data.DatosGeneralesyGeometria dc=report.data.DatosDelCertificador consef=report.data.Consumo.EnergiaFinal consepnr=report.data.Consumo.EnergiaPrimariaNoRenovable emis=report.data.EmisionesCO2 calemis=report.data.Calificacion.EmisionesCO2 calepnr=report.data.Calificacion.EnergiaPrimariaNoRenovable %}

  <nav class="hidden-print">
    <a class="btn btn-primary btn-lg getfile" role="button" href="{% url 'supplementary-report-pdf' %}">{% trans "Obtener PDF" %}</a>
  </nav>

  <div class="sup-report" id="informe">
    <h2 class="text-center">{% trans "INFORME COMPLEMENTARIO DE EFICIENCIA ENERGÉTICA" %}</h2>

    <div class="section">
      <h4>{% trans "DATOS GENERALES DEL EDIFICIO" %}:</h4>
      <table>
        <tr>
          <td>
            {{ id.NombreDelEdificio }} ({{ id.TipoDeEdificio }})<br>
            {{ id.Direccion }} - {{ id.CodigoPostal }} - {{ id.Municipio }} ({{ id.Provincia }})
          </td>
          <td width="30%">
            {% trans "Año de construcción:" %} {{ id.AnoConstruccion }}
          </td>
        </tr>
      </table>

      <br>

      <table class="top">
        <tr class="header">
          <td colspan="2">{% trans "Características geométricas" %} </td>
          <td rowspan="5">
            {% if dg.Imagen %}
            <img src="{{ dg.Imagen }}" alt="Imagen general del edificio" class="img-responsive" />
            {% else %}
            <img src="{% static 'img/sinimagen.svg' %}" alt="Imagen no definida o incorrecta" class="img-responsive" />
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>{% trans "Superficie habitable [m<sup>2</sup>]" %}</td>
          <td>
            {{ dg.SuperficieHabitable|asnum }} ({{ dg.PorcentajeSuperficieHabitableCalefactada|asnum }}% calefactada,
            {{ dg.PorcentajeSuperficieHabitableRefrigerada|asnum }}% refrigerada)
          </td>
        </tr>
        <tr>
          <td>{% trans "Número de plantas" %}</td>
          <td>
            {% trans "Sobre rasante:" %} {{ dg.NumeroDePlantasSobreRasante }},
            {% trans "bajo rasante:" %} {{ dg.NumeroDePlantasBajoRasante }}
          </td>
        </tr>
        <tr>
          <td>{% trans "Volumen habitable [m<sup>3</sup>]" %}</td>
          <td>{{ dg.VolumenEspacioHabitable|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Compacidad [m<sup>3</sup>/m<sup>2</sup>]" %}</td>
          <td>{{ dg.Compacidad|asnum }}</td>
        </tr>
      </table>

      <br>

      <table class="top">
        <tr class="header">
          <td colspan="2">{% trans "Características de uso" %} </td>
        </tr>
        <tr>
          <td>{% trans "Zona climática" %}</td>
          <td>{{ id.ZonaClimatica }}</td>
        </tr>
        <tr>
          <td>{% trans "Demanda de ACS a 60ºC [litros/día]" %}</td>
          <td>{{ dg.DemandaDiariaACS|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Ventilación [ren/h]" %}</td>
          <td>{{ dg.VentilacionUsoResidencial|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Ventilación + infiltraciones [ren/h]" %}</td>
          <td>{{ dg.VentilacionTotal|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Densidad de fuentes internas [W/m<sup>2</sup>h]" %}</td>
          <td>{{ dg.DensidadFuentesInternas|asnum }}</td>
        </tr>
      </table>
    </div>

    <br>

    <div class="section">
      <p class="title">{% trans "EFICIENCIA ENERGÉTICA" %}</p>

      <b>{% trans "Procedimiento usado para la evaluación:" %} {{ id.Procedimiento }}</b>

      <table>
        <tr class="header">
          <td width="30%">{% trans "Indicador" %}</td>
          <td><b>{% trans "Cal." %}</b><br>(1)</td>
          <td><b>{% trans "Ref." %}</b><br>(2)</td>
          <td><b>{% trans "Conjunta" %}</b><br>(1) + k·(2)</td>
          <td><b>{% trans "ACS" %}</b><br>(3)</td>
          <td><b>{% trans "Ilum." %}</b><br>(4)</td>
          <td><b>{% trans "Global" %}</b><br>(1) + (2) + (3) [+ (4) + transp.]</td>
        </tr>
        <tr>
          <td>{% trans "Consumo Energía final [kWh/m<sup>2</sup>·año]" %}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Calefaccion|asnum }}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Refrigeracion|asnum }}</td>
          <td></td>
          <td>{{ report.data.Demanda.EdificioObjeto.ACS|asnum }}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Iluminacion|asnum }}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Global|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Consumo Energía primaria no renovable [kWh/m<sup>2</sup>·año]" %}</td>
          <td class="scale_color_{{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Calefaccion }}">
            {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Calefaccion|asnum }}
            {{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Calefaccion|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Refrigeracion }}">
            {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Refrigeracion|asnum }}
            {{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Refrigeracion|asnum }}
          </td>
          <td></td>
          <td class="scale_color_{{ report.data.Calificacion.EnergiaPrimariaNoRenovable.ACS }}">
            {{ report.data.Consumo.EnergiaPrimariaNoRenovable.ACS|asnum }}
            {{ report.data.Calificacion.EnergiaPrimariaNoRenovable.ACS|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Iluminacion }}">
            {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Iluminacion|asnum }}
            {{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Iluminacion|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Global }}">
            {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Global|asnum }}
            {{ report.data.Calificacion.EnergiaPrimariaNoRenovable.Global|asnum }}
            [{{ report.data.Consumo.Exigencias.LimiteViviendaGlobalEPNR|asnum }}]
          </td>
        </tr>
        <tr>
          <td>{% trans "Emisiones de CO<sub>2</sub> [kgCO<sub>2</sub>/m<sup>2</sup>·año]" %}</td>
          <td class="scale_color_{{ report.data.Calificacion.EmisionesCO2.Calefaccion }}">
            {{ report.data.EmisionesCO2.Calefaccion|asnum }}
            {{ report.data.Calificacion.EmisionesCO2.Calefaccion|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EmisionesCO2.Refrigeracion }}">
            {{ report.data.EmisionesCO2.Refrigeracion|asnum }}
            {{ report.data.Calificacion.EmisionesCO2.Refrigeracion|asnum }}
          </td>
          <td></td>
          <td class="scale_color_{{ report.data.Calificacion.EmisionesCO2.ACS }}">
            {{ report.data.EmisionesCO2.ACS|asnum }}
            {{ report.data.Calificacion.EmisionesCO2.ACS|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EmisionesCO2.Iluminacion }}">
            {{ report.data.EmisionesCO2.Iluminacion|asnum }}
            {{ report.data.Calificacion.EmisionesCO2.Iluminacion|asnum }}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.EmisionesCO2.Global }}">
            {{ report.data.EmisionesCO2.Global|asnum }}
            {{ report.data.Calificacion.EmisionesCO2.Global|asnum }}
          </td>
        </tr>
        {% if 'Terciario' in id.TipoDeEdificio %}
        <tr>
          <td>{% trans "Demanda (0,8 ren/h) [kWh/m<sup>2</sup>·año]" %}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Calefaccion08|asnum }}</td>
          <td>{{ report.data.Demanda.EdificioObjeto.Refrigeracion08|asnum }}</td>
          <td>
            {{ report.data.Demanda.EdificioObjeto.Conjunta08|asnum }},
            {{ report.data.Demanda.EdificioObjeto.Ahorro08|asnum }}
            {% if report.data.Demanda.Exigencias.LimiteAhorroOtrosUsos %}
            [{{ report.data.Demanda.Exigencias.LimiteAhorroOtrosUsos|asnum }}%]**
            {% endif %}
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endif %}
        <tr>
          <td>{% trans "Demanda [kWh/m<sup>2</sup>·año]" %}</td>
          <td class="scale_color_{{ report.data.Calificacion.Demanda.Calefaccion }}">
            {{ report.data.Demanda.EdificioObjeto.Calefaccion|asnum }}
            {{ report.data.Calificacion.Demanda.Calefaccion|asnum }}
            {% if 'Terciario' not in id.TipoDeEdificio %}
            [{{ report.data.Demanda.Exigencias.LimiteCalefaccionVivienda|asnum }}]*
            {% endif %}
          </td>
          <td class="scale_color_{{ report.data.Calificacion.Demanda.Refrigeracion }}">
            {{ report.data.Demanda.EdificioObjeto.Refrigeracion|asnum }}
            {{ report.data.Calificacion.Demanda.Refrigeracion|asnum }}
            {% if 'Terciario' not in id.TipoDeEdificio %}
            [{{ report.data.Demanda.Exigencias.LimiteRefrigeracionVivienda|asnum }}]*
            {% endif %}
          </td>
          <td>
            {{ report.data.Demanda.EdificioObjeto.Conjunta|asnum }}
            {% if report.data.Demanda.Exigencias.LimiteAhorroOtrosUsos %}
              [{{ report.data.Demanda.Exigencias.LimiteAhorroOtrosUsos|asnum }}%]**
            {% endif %}
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      * {% trans "Los valores entre corchetes corresponden a los valores límite del DB-HE" %}<br>
      ** {% trans "Ahorro porcentual respecto al edificio de referencia" %}

      <br><br>

      <table>
        <tr class="header">
          <td>{% trans "Uso de energías renovables" %}</td>
          <td>{% trans "Valor" %}</td>
        </tr>
        <tr>
          <td>{% trans "Consumo de energía final para calefacción cubierto por renovables [%]" %}</td>
          <td>{{ report.data.EnergiasRenovables.totaltermica.ConsumoFinalCalefaccion|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Consumo de energía final para refrigeración cubierto por renovables [%]" %}</td>
          <td>{{ report.data.EnergiasRenovables.totaltermica.ConsumoFinalRefrigeracion|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Consumo de energía final para ACS cubierto por renovables [%]" %}</td>
          <td>{{ report.data.EnergiasRenovables.totaltermica.ConsumoFinalACS|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Demanda de ACS cubierto por renovables [%]" %}</td>
          <td>{{ report.data.EnergiasRenovables.totaltermica.DemandaACS|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Energía eléctrica generada y autoconsumida [kWh/año]" %}</td>
          <td>{{ report.data.EnergiasRenovables.totalelectrica|asnum }}</td>
        </tr>
      </table>
    </div>

    <br>
    <div class="page-break"></div>

    <table>
      <tr>
        <td>
          <div class="chart-container" id="demand">
            <div style="text-align:center">
              <b>{% trans "Demanda" %}</b><br>
              ({% trans "por servicio, kWh/m<sup>2</sup>·año" %})
            </div>
            <div class="chart" id="demand-chart"></div>
          </div>
        </td>
        <td>
          <div class="chart-container" id="primary-energy">
            <div style="text-align:center">
              <b>{% trans "Consumo de energía primaria no renovable" %}</b><br>
              ({% trans "por servicio, kWh/m<sup>2</sup>·año" %})
            </div>
            <div class="chart" id="primary-energy-chart"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div  class="chart-container" id="consumption-per-vector">
            <div style="text-align:center">
              <b>{% trans "Consumo de energía final" %}</b><br>
              ({% trans "por vector energético" %})
            </div>
            <div class="chart" id="consumption-per-vector-chart"></div>
          </div>
        </td>
        <td>
          <div  class="chart-container" id="consumption-per-service">
            <div style="text-align:center">
              <b>{% trans "Consumo de energía final" %}</b><br>
              ({% trans "por servicio" %})
            </div>
            <div class="chart" id="consumption-per-service-chart"></div>
          </div>
        </td>
      </tr>
    </table>

    <br>

    <div class="page-break"></div>

    <div class="section">
      <p class="title">{% trans "ZONIFICACIÓN" %}</p>

      <table class="top">
        <tr class="header">
          <td>{% trans "Espacio" %}</td>
          <td>{% trans "Superficie [m<sup>2</sup>]" %}</td>
          <td>{% trans "Potencia instalada de iluminación [W/m<sup>2</sup>]" %}</td>
          <td>{% trans "Iluminancia media [lux]" %}</td>
          <td>{% trans "Perfile de uso" %}</td>
        </tr>
        {% for data1, data2 in espacios %}
        <tr>
          <td>{{ data1.Nombre }}</td>
          <td class="num">{{ data1.Superficie|asnum }}</td>
          <td class="num">{{ data2.PotenciaInstalada|asnum }}</td>
          <td class="num">{{ data2.IluminanciaMedia|asnum }}</td>
          <td>{{ data1.PerfilDeUso }}</td>
        </tr>
        {% endfor %}
      </table>

      <br>

      <p class="title">{% trans "ENVOLVENTE TÉRMICA" %}</p>

      <table class="top">
        <tr class="header">
          <td>{% trans "Cerramiento opaco" %}</td>
          <td>{% trans "Tipo" %}</td>
          <td>{% trans "Orientación" %}</td>
          <td>{% trans "Superficie [m<sup>2</sup>]" %}</td>
          <td>{% trans "Transmitancia [W/m<sup>2</sup>·K]" %}</td>
        </tr>
        {% for e in report.data.DatosEnvolventeTermica.CerramientosOpacos %}
        <tr>
          <td>{{ e.Nombre }}</td>
          <td>{{ e.Tipo }}</td>
          <td>{{ e.Orientacion }}</td>
          <td class="num">{{ e.Superficie|asnum}}</td>
          <td class="num">{{ e.Transmitancia|asnum }}</td>
        </tr>
        {% endfor %}
      </table>

      <br>

      <table class="top">
        <tr class="header">
          <td colspan="8">{% trans "Fracción de superficie acristalada por orientación (%)" %}</td>
        </tr>
        <tr class="header">
          <td>{% trans "N" %}</td>
          <td>{% trans "NE" %}</td>
          <td>{% trans "E" %}</td>
          <td>{% trans "SE" %}</td>
          <td>{% trans "S" %}</td>
          <td>{% trans "SO" %}</td>
          <td>{% trans "O" %}</td>
          <td>{% trans "NO" %}</td>
        </tr>
        <tr>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.N|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.NE|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.E|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.SE|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.S|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.SO|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.O|default:'0' }}</td>
          <td>{{ report.data.DatosGeneralesyGeometria.PorcentajeSuperficieAcristalada.NO|default:'0' }}</td>
        </tr>
      </table>

      <br>

      <table class="top">
        <tr class="header">
          <td>{% trans "Hueco o lucernario" %}</td>
          <td>{% trans "Tipo" %}</td>
          <td>{% trans "Orientación" %}</td>
          <td>{% trans "Superficie [m<sup>2</sup>]" %}</td>
          <td>{% trans "Transmitancia [W/m<sup>2</sup>·K]" %}</td>
          <td>{% trans "Factor solar" %}</td>
        </tr>
        {% for e in report.data.DatosEnvolventeTermica.HuecosyLucernarios %}
        <tr>
          <td>{{ e.Nombre }}</td>
          <td>{{ e.Tipo }}</td>
          <td>{{ e.Orientacion }}</td>
          <td class="num">{{ e.Superficie|asnum }}</td>
          <td class="num">{{ e.Transmitancia|asnum }}</td>
          <td class="num">{{ e.FactorSolar|asnum }}</td>
        </tr>
        {% endfor %}
      </table>

      <br>

      <table class="top">
        <tr class="header">
          <td>{% trans "Puente térmico" %}</td>
          <td>{% trans "Tipo" %}</td>
          <td>{% trans "Longitud [m]" %}</td>
          <td>{% trans "Transmitancia [W/m·K]" %}</td>
        </tr>
        {% for e in report.data.DatosEnvolventeTermica.PuentesTermicos %}
        <tr>
          <td>{{ e.Nombre }}</td>
          <td>{{ e.Tipo }}</td>
          <td>{{ e.Longitud|asnum }}</td>
          <td class="num">{{ e.Transmitancia|asnum }}</td>
        </tr>
        {% endfor %}
      </table>

      <br>

      <p class="title">{% trans "SISTEMAS" %}</p>

      <table class="top">
        <tr class="header">
          <td>{% trans "Subsistema" %}</td>
          <td>{% trans "Valor" %}</td>
        </tr>
        <tr>
          <td>{% trans "Generadores de calefacción, potencia nominal total [kW]" %}</td>
          <td>{{ report.data.InstalacionesTermicas.totalpotenciageneradoresdecalefaccion|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Generadores de refrigeración, potencia nominal total [kW]" %}</td>
          <td>{{ report.data.InstalacionesTermicas.totalpotenciageneradoresderefrigeracion|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Generadores de ACS, potencia nominal total [kW]" %}</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{% trans "Sistemas secundarios, potencia nominal total calor [kW]" %}</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{% trans "Sistemas secundarios, potencia nominal total frío [kW]" %}</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{% trans "Torres de refrigeración, consumo total de energía [kWh/año]" %}</td>
          <td>{{ report.data.InstalacionesTermicas.totalconsumotorresyrefrigeracion|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Ventilación y bombeo, consumo total de energía [kWh/año]" %}</td>
          <td>{{ report.data.InstalacionesTermicas.totalconsumoventilacionybombeo|asnum }}</td>
        </tr>
        <tr>
          <td>{% trans "Iluminación, potencia instalada [W/m<sup>2</sup>]" %}</td>
          <td>{{ report.data.InstalacionesIluminacion.totalpotenciamedia|asnum }}</td>
        </tr>
      </table>

    </div>

  </div>
  {% endwith %}
</div>

{% endblock %}

{% block extra_js %}
  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var demand_data = google.visualization.arrayToDataTable([
          ['', ''],
          ['{% trans "Calefacción" %}', {{ report.data.Demanda.EdificioObjeto.Calefaccion }}],
          ['{% trans "Refrigeración" %}', {{ report.data.Demanda.EdificioObjeto.Refrigeracion }}],
          ['{% trans "ACS" %}', {{ report.data.Demanda.EdificioObjeto.ACS }}]
        ]);

      var primary_energy_data = google.visualization.arrayToDataTable([
          ['', ''],
          ['{% trans "Calefacción" %}', {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Calefaccion }}],
          ['{% trans "Refrigeración" %}', {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Refrigeracion }}],
          ['{% trans "ACS" %}', {{ report.data.Consumo.EnergiaPrimariaNoRenovable.ACS }}],
          ['{% trans "Iluminacion" %}', {{ report.data.Consumo.EnergiaPrimariaNoRenovable.Iluminacion|default:0 }}],
      ]);

      var consumption_per_vector_data = google.visualization.arrayToDataTable([
          ['', ''],
          {% for vector, value in report.data.Consumo.EnergiaFinalPorVector.items  %}
            ['{{ vector }}', {{ value }}],
          {% endfor %}
      ]);

      var consumption_per_service_data = google.visualization.arrayToDataTable([
          ['', ''],
          {% for servicio, value in report.data.Consumo.EnergiaFinalPorServicio.items  %}
            ['{{ servicio }}', {{ value }}],
          {% endfor %}
      ]);

      var options = {
        titlePosition: 'none',
        chartArea:{
          left:'20%',
          top:10,
          width:'60%',
          height:'80%'
        },
        enableInteractivity: false,
        legend: {
          position: 'bottom',
{#          alignment: 'start'#}
        }
      };

      new google.visualization.PieChart(document.getElementById('demand-chart')).draw(demand_data, options);
      new google.visualization.PieChart(document.getElementById('primary-energy-chart')).draw(primary_energy_data, options);
      new google.visualization.PieChart(document.getElementById('consumption-per-vector-chart')).draw(consumption_per_vector_data, options);
      new google.visualization.PieChart(document.getElementById('consumption-per-service-chart')).draw(consumption_per_service_data, options);
  }
  </script>
{% endblock %}
