{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load formset_tags %}
{% block title %}{% trans "Validador de informes" %}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Validador de informes en formato XML" %}</h1>
</div>
<div class="page">
  <p class="lead">
    {% blocktrans %}
    Seleccione un archivo de informe de eficiencia energética en XML y, opcionalmente, hasta tres archivos obtenidos
    mediante a aplicación de medidas de mejora sobre el caso base.
    {% endblocktrans %}
  </p>
  <p>
    {% static "docs/EjemploTerciario.xml" as xml_example_1_url %}
    {% static "docs/EjemploResidencial.xml" as xml_example_2_url %}
    {% blocktrans %}
    Puede probar la validación con un <a href="{{ xml_example_1_url }}">informe de ejemplo de edificio con uso
    terciario</a> o con un <a href="{{ xml_example_2_url }}">informe de ejemplo de edificio con uso residencial</a>.
    {% endblocktrans %}
  </p>

  <div class="panel panel-primary">
    <div class="panel-heading">
      {% trans "Selección de archivos de informe de evaluación de la eficiencia energética." %}
    </div>
    <div class="panel-body">
      <div class="form-group col-md-6">
        <form class="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div id="formset" data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}

            <div class="panel panel-default">
            <div class="panel-heading">
              <h5>{% trans "Informe de evaluación de la eficiencia energética en formato XML." %}</h5>
              <h5>{% trans "Archivo base:" %}</h5>
            </div>
            <div class="panel-body">
              <div data-formset-body>
                {% for form in formset %}
                  {% if forloop.counter0 == 0 %}
                    <div class="form-group" data-formset-form>
                      {% if request.session.file_0_name %}({{ request.session.file_0_name }}){% endif %}
                      {{ form.file }}
                    </div>

                    <div class="panel-title row">
                      <div class="col-md-10">
                      <h5>
                        {% trans "Opcional" %}:<br>
                        <small>{% trans "Archivos XML resultantes de la aplicación de medidas de mejora al caso base" %}</small>
                      </h5>
                      </div>
                      <span class="add-button">
                        <button type="button" class="btn btn-primary btn-sm" data-formset-add>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                  {% else %}
                    <div class="form-group" data-formset-form>
                      <strong>
                        {% trans "Archivo de mejora" %}
                      </strong>
                      {{ form.file }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <script type="form-template" data-formset-empty-form>
                {% escapescript %}
                  <div class="form-group" data-formset-form>
                    <strong>
                      {% trans "Archivo de mejora" %}
                    </strong>
                    {{ formset.empty_form.file }}
                  </div>
                {% endescapescript %}
              </script>
            </div>
            <div class="panel-footer">
              <button type="submit" class="btn btn-primary">{% trans "Validar" %}</button>
            </div>
          </div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        {% if validation_data %}
          {% if validation_data.extra_files_errors %}
            <div class="alert alert-warning">
              <h2>{% trans "Archivos de mejora" %}</h2>
              <p>
                Se han encontrado <strong>{{ validation_data.extra_files_errors|length }}</strong> errores al tratar los
                archivos de mejora:
              </p>
              <ul>
                {% for filename, errors in validation_data.extra_files_errors.items %}
                  <li>
                    <strong>{{ filename }}</strong>:
                    <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}


          {% if validation_data.validation_errors %}
            <div class="alert alert-danger">
              <h2>{% trans "Errores de validación" %}</h2>
              <p>
                Se han encontrado <strong>{{ validation_data.validation_errors|length }}</strong> errores de
                validación en el archivo {{ request.session.base_name }}:
              </p>
              <ul>
                {% for error in validation_data.validation_errors %}
                  <li><strong>Línea {{ error.0 }}:</strong> {{ error.1 }}</li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <div class="alert alert-success">
              <p>El informe activo, <b>{{ request.session.file_0_name }}</b>, no contiene errores de validación.</p>
              {# <p>Puede <a href="{{ url_for('visor')}}" class="alert-link">ver su contenido</a> o seleccionar un nuevo informe para su validación.</p>#}
            </div>
          {% endif %}

          {% if validation_data.info %}
            <div class="alert alert-warning">
              <h2>Avisos de validación</h2>
              <p>Se han encontrado <strong>{{ validation_data.info|length }}</strong> avisos de validación:</p>
              <ul>
                {% for messagetype, message in validation_data.info %}
                  <li><strong>{{ messagetype }}:</strong> {{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        {% else %}
          <div class="alert alert-warning">
            <p>No existe un informe activo.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{%  static "js/jquery.formset.js" %}"></script>
  <script>
    $(function(){
      var fileInputOptions = {
        'showUpload': false,
        'showPreview': false,
        'showRemove': false,
        'browseClass': 'btn btn-default'
      }

      $("#formset").formset({
        animateForms: true
      })
      .on('formAdded', function(event) {
          var newForm = $(event.target);
          newForm.find('input:file').fileinput(fileInputOptions);
      });

      $("input:file").fileinput(fileInputOptions);
    });
 </script>
{% endblock %}
